<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <h5>Add New Employee</h5>
            <hr>
            <div class="row">
                <form class="d-flex gap-3" [formGroup]="employeeForm">
                    <div class="col-md-6">                    
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" formControlName="firstName">
                            <small class="hidden">...</small>
                        </div>
                        <div class="form-group">
                            <label class="mt-2" for="email">Email address</label>
                            <input type="email" class="form-control" id="email" formControlName="email">
                            @if (employeeForm.get("email").invalid) {
                                <small class="text-danger">invalid email</small>
                            } @else {
                                <small class="hidden">...</small>
                            }
                        </div>
                    </div>    
                    
                    <div class="col-md-6">                    
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" formControlName="lastName">
                            @if (employeeForm.get("lastName").invalid) {
                                <small class="text-danger">lastname is required</small>
                            } @else() {
                                <small class="hidden">...</small>
                            }
                        </div>
                        <div class="form-group">
                            <label class="mt-2" for="phoneNumber">Phone Number</label>
                            <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
                            @if (employeeForm.get("phoneNumber").invalid) {
                                <small class="text-danger">invalid phone number</small>
                            }
                        </div>         
                    </div>
                </form>
            </div>
            <div class="modal-footer mt-3">
                <button type="button" (click)="closeModal()"  class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" (click)="submitEmployee()" class="btn btn-success">Save</button>
            </div>
            
        </div>
    </div>
</div>