.card {
    min-height: 30vh;
}

.table-responsive {
    overflow: visible !important;
}

.fa-trash-can:hover {
    color: red
}

.dropdown-item:hover {
    background-color: lightgrey;
}

.dropdown-menu {
    border: 2px solid var(--navy-green);
    max-height: 13vh;
    overflow: auto;
}

input {
    outline: none;
    border: none;
}