<div class="col-md-6 w-100">
    <div class="card">
        <div class="card-body table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td><input class="mt-1" type="text" placeholder="name"></td>
                            <td><input class="mt-1" type="text" placeholder="quantity"></td>
                            <td><input class="mt-1" type="text" placeholder="price"></td>
                            <td role="button" (click)="addProduct()"  class="d-flex gap-1 p-3 add">Add<i class="fa-solid fa-plus p-1"></i></td>
                        </tr><br>
                        @for (product of products; track product; let i = $index) {
                            <tr>
                                <td>{{i + 1}}</td>
                                <td contenteditable="true">{{product.name}}</td>
                                <td contenteditable="true">{{product.quantity}}</td>
                                <td contenteditable="true">{{product.price}}</td>  
                                <td><i class="fa-regular fa-trash-can" role="button" (click)="removeProduct(product)"></i></td>                              
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>