.table-container {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 65vh;
    overflow: auto;
    border-radius: 0;
    border-top: 3px solid var(--navy-green);
}

.fa-trash-can:hover {
    color: red
}

.add:hover, .fa-pen:hover {
    color: var(--navy-green);
}

.modal-content {
    border: 4px solid var(--navy-green);
    width: 130%;
    height: 40vh;
}

