<div class="card-title">
    <h5>Employees Table</h5>
</div><hr>

<div class="row">
    <div class="col-xl-12">
        <div class="card table-container">
            <div class="card-body table-border-style ">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th>Documents</th>
                                <th role="button" (click)="openModal('insert')" class="d-flex align-items-end gap-1 add">Add<i class="fa-solid fa-plus p-1"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (employee of employees; track employee; let i = $index) {
                                <tr>
                                    <td>{{i + 1}}</td>
                                    <td>{{employee.firstname}}</td>
                                    <td>{{employee.lastname}}</td>
                                    <td>{{employee.phoneNumber}}</td>
                                    <td>{{employee.email}}</td>
                                    <td>
                                        <select class="form-control">
                                            <option>doc.pdf </option>
                                            <option>doc.pdf </option>
                                            <option>doc.pdf </option>
                                        </select>
                                    </td>
                                    <td>
                                        <i class="fa-solid fa-pen" role="button" routerLink=""></i>
                                        <span style="margin-left: 15px;"></span>
                                        <i class="fa-regular fa-trash-can" role="button" (click)="openModal('delete')"></i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade show" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            @if (modalOperation == 'insert') {
                <app-insert-employee
                (modalState)="closeModal()"
                (employeeToInsert)="addEmployee($event)"
                >
                </app-insert-employee>
            }
            @if (modalOperation == 'delete') {
                <div class="h-75 d-flex align-items-center justify-content-center">
                    <span>Are you sure you want to remove this employee?</span>
                </div>
                <div class="modal-footer mt-3">
                    <button type="button" (click)="closeModal()"  class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" (click)="removeEmployee()" class="btn btn-success">Remove</button>
                </div>
            }
          
        </div>
        
      </div>
    </div>
  </div>


