
.welcome-note {
    color: rgba(255, 255, 255, 0.70);
}

.seperator {
    width: 2px;
    height: 45vh;
    background-color: rgba(255, 255, 255, 0.344);
}

.login-wrapper {
    background-image: url('../../../assets/images/login-bg.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}


.fa-users {
    color: rgba(255, 255, 255, 0.623);
    font-size: 3rem;
}

.card {
    border: hidden;
    background-color: rgba(255, 255, 255, 0);
}

input {
    background-color: rgba(255, 255, 255, 0.664);
    padding: 1rem;
}

input:focus {
    background-color: rgba(255, 255, 255, 0.7);
}

.btn {
    background-color: rgba(38, 139, 62, 0.8); /* Adjust the RGB values and alpha (transparency) as needed */
    padding-left: 3rem;
    padding-right: 3rem;
    
      
}