.auth-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 95vh;
    /* background: radial-gradient(circle, #19b192, #1abc8b);   */
    background-image: url('../../../assets/images/login-bg.jpg');
    background-position: center;
    background-size: cover;
}

.hidden {
    visibility: hidden;
}
