<div class="card-title">
    <h5>Inventory</h5>
</div><hr>

<div class="row card-container">
    <div class="col-sm-12">        
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <h6 class="p-3 category-title"><strong>Categories</strong></h6>
                        <ul class="nav flex-column nav-pills align-items-start" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            @for (category of categories; track category; let i = $index) {
                                <button class="nav-link {{i === 0 ? 'active' : ''}}" id="v-pills-{{category}}-tab" data-bs-toggle="pill" [attr.data-bs-target]="'#v-pills-' + category" type="button" role="tab" [attr.aria-controls]="'#v-pills-' + category" aria-selected="false">{{category}}</button>
                            }    
                        </ul>      
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <div class="tab-content" id="v-pills-tabContent">
                            @for (category of categories; track category; let i = $index) {
                                <div class="tab-pane fade {{i === 0 ? 'show active' : ''}}" id="v-pills-{{category}}" role="tabpanel" [attr.aria-labelledby]="'#v-pills-' + category + '-tab'">
                                    <app-product-table [products]="classifiedProducts.get(category)"></app-product-table>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



