:root {
    --navy-green: #1ABC9C;
    --header-color: #2C3E50;
}

@font-face {
    font-family: 'Open Sans';
    src: url('src/assets/fonts/Open_Sans/static/OpenSans-Regular.ttf') format('truetype');
}

ul {list-style-type: none;}

.card-title {margin: 2rem 0 0 2rem;}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background-color: rgb(8, 173, 8);
}