<header class="d-flex justify-content-between align-items-center">
    <div class="p-3"><h4>Business Box</h4></div>
    <div class="d-flex gap-3 p-3">
        <div class="btn fw-light" role="button"><i class="fa-regular fa-bell pe-1"></i>Notifications</div>
        <div class="btn fw-light" role="button" routerLink="login"><i class="fa-solid fa-user pe-1"></i>Logout</div>
    </div>
</header>
  
<div class="d-flex">
    <nav class="d-flex flex-column gap-5">
        <div class="business p-4">
            <div ngbDropdown class="dropdown">
                <h5 ngbDropdownToggle class="" role="button" id="dropdownMenuButton1" aria-expanded="false">
                {{businessName}}
                </h5>
                <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                    <li>item</li>
                    <li>item</li>
                    <li></li>
                    
                </ul>
            </div>
        </div>
    
        <div class="navigation flex-grow-1">
            <span>Navigation</span>
            <ul class="mt-3">
              <li class="btn" role="button" routerLink="dashboard"><i class="fa-solid fa-house pe-2"></i>Dashboard</li>
              <li class="btn" role="button" routerLink="employees"><i class="fa-regular fa-user pe-2"></i>Employees</li>
              <li class="btn" role="button" routerLink="inventory"><i class="fa-solid fa-cube pe-2"></i>Inventory</li>
            </ul>
        </div>
    
        <div class="settings justify-content-end">
            <span>Settings</span>
            <ul class="mt-3">
                <li class="btn"><i class="fa-solid fa-gear pe-2"></i>General</li>
                <li class="btn"><i class="fa-regular fa-circle-user pe-2"></i>Account</li>
                <li class="btn"><i class="fa-solid fa-table-columns pe-2"></i>Dashboard</li>                
            </ul>
        </div>
    </nav>
  
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>
  
  
  