<header class="d-flex justify-content-between align-items-center">
    <div class="p-3"><h4>Business Box</h4></div>
    <div class="d-flex gap-3 p-3">
        <div class="btn fw-light" role="button"><i class="fa-regular fa-bell pe-1"></i>Notifications</div>
        <div class="btn fw-light" role="button" (click)="logout()" routerLink="login"><i class="fa-solid fa-user pe-1"></i>Logout</div>
    </div>
</header>
  
<div class="d-flex">
    <nav class="d-flex flex-column gap-5">
        
        <div id="businessMenu" class="business initial-height" [@expandCollapse]="menuState">
            @if (activeBusiness()) {
                <div class="d-flex align-items-center gap-2 p-3 dropdown-toggle" role="button" (click)="toggleMenu()">
                    <h5>
                        {{activeBusiness().name}}
                    </h5>
                </div>
                <div>
                    <ul>
                        @if (businessList) {
                            @for (business of businessList; track business) {
                                <li role="button" (click)="selectBusiness(business)">
                                    {{business.name}}
                                </li>
                            }  
                        }             
                        <li><input #businessInput type="text" class="business-input" placeholder="New Business"  (keyup.enter)="addBusiness(businessInput.value); businessInput.value = '' "></li>
                    </ul>
                </div>
            }
        </div>
    
        <div class="navigation flex-grow-1">
            <span>Navigation</span>
            <ul class="mt-3">
              <li class="btn" role="button" (click)="goTo('dashboard')"><i class="fa-solid fa-house pe-2"></i>Dashboard</li>
              <li class="btn" role="button" (click)="goTo('employees')"><i class="fa-regular fa-user pe-2"></i>Employees</li>
              <li class="btn" role="button" (click)="goTo('inventory')"><i class="fa-solid fa-cube pe-2"></i>Inventory</li>
            </ul>
        </div>
    
        <div class="settings justify-content-end">
            <span>Settings</span>
            <ul class="mt-3">
                <li class="btn" role="button" (click)="goTo('settings')"><i class="fa-solid fa-gear pe-2"></i>General</li>
                <li class="btn" role="button"><i class="fa-regular fa-circle-user pe-2"></i>Account</li>              
            </ul>
        </div>
    </nav>
  
    <div class="main">
        @if (currentView == 'dashboard') {<app-dashboard></app-dashboard>}
        @else if (currentView == 'employees') {<app-employees></app-employees>}
        @else if (currentView == 'inventory') {<app-inventory></app-inventory>}
        @else if (currentView == 'settings') {<app-user-settings></app-user-settings>}        
    </div>
</div>
  
  
  