.chat {
    margin-top: 4rem;
    margin-left: 2rem;
}

.card-header {
    background-color: var(--navy-green);
}

.card-body {
    height: 40vh;
    overflow-y: auto;
}


.chat-card .msg {
    margin-bottom: 5px;
    display: inline-block;
    padding: 8px;
    position: relative;
    /* overflow: auto; */
}

/* .chat-card .msg img {
    width: 60px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
} */

.chat-card .received-chat .msg {
    background: #81eed8;
    border-radius: 0 5px 5px 5px;
}

.chat-card .received-chat .msg:after {
    content: "";
    position: absolute;
    left: -7px;
    top: -7px;
    transform: rotate(45deg);
    border: 7px solid transparent;
    border-bottom-color: #81eed8;
}

.chat-card .send-chat, .chat-card .widget-chat-box .receive-chat, .widget-chat-box .chat-card .receive-chat {
    text-align: right;
}

.chat-card .send-chat .msg, .chat-card .widget-chat-box .receive-chat .msg, .widget-chat-box .chat-card .receive-chat .msg {
    background: #1abc9c;
    color: #fff;
    border-radius: 5px 0 5px 5px;
}

.chat-card .send-chat .msg:after, .chat-card .widget-chat-box .receive-chat .msg:after, .widget-chat-box .chat-card .receive-chat .msg:after {
    content: "";
    position: absolute;
    right: -7px;
    top: -7px;
    transform: rotate(45deg);
    border: 7px solid transparent;
    border-right-color: #1abc9c;
}

.response-bar {
    width: 97%;
    margin-bottom: 2px;
    
}

.response-bar input:focus {
    box-shadow: 1px 1px 4px var(--navy-green);
}

button {
    border: none;
    background-color: var(--navy-green);
}

.fa-arrows-rotate:hover {
    color: #E9E9E9;
}

.instr-msg {
    color: rgba(128, 128, 128, 0.8);
}


